.idea
evaluating/__pycache__/evaluator_utils.cpython-36.pyc
model/__pycache__/CompanyEnum.cpython-36.pyc
model/__pycache__/Portfolio.cpython-36.pyc
model/__pycache__/SharesOfCompany.cpython-36.pyc
model/__pycache__/StockMarketData.cpython-36.pyc
model/__pycache__/IPredictor.cpython-36.pyc
model/__pycache__/trader_actions.cpython-36.pyc
predicting/predictor/__pycache__/nn_predictor.cpython-36.pyc
predicting/predictor/__pycache__/perfect_predictor.cpython-36.pyc
predicting/predictor/__pycache__/simple_predictor.cpython-36.pyc
predicting/test/__pycache__/nn_predictor_test.cpython-36.pyc
predicting/test/__pycache__/perfect_predictor_test.cpython-36.pyc
predicting/test/__pycache__/simple_predictor_test.cpython-36.pyc
trading/trader/__pycache__/buy_and_hold_trader.cpython-36.pyc
trading/trader/__pycache__/rnn_trader.cpython-36.pyc
trading/trader/__pycache__/simple_trader.cpython-36.pyc
